In [1]:
import pandas as pd
import os

## Importing data

In [4]:
os.chdir(r'C:\Users\chitr\gc-march-2022\data')

In [ ]:
df_da = pd.read_csv('dice_DataAnalyst_2022.csv')
df_da.head(5)

In [ ]:
df_da.info()

In [ ]:
df_de = pd.read_csv('dice_DataEngineer_2022.csv')

In [ ]:
df_de.head(5)

In [ ]:
df_de.info()

In [5]:
df_ds = pd.read_csv('dice_Datascientist_2022.csv')

In [6]:
df_ds.head()

,Unnamed: 0,title,company,description,location
0,0,Data Science Architect,Randstad Technologies,job summary: The Data Science Architect works...,"North Chicago, IL, USA"
1,1,Data Science Trainee,HStechnologies LLC,"HS Technologies, is an Equal Opportunity Emplo...",Remote
2,2,Data Science,Ventures Unlimited,"Position:- Data Science , Location:- Austin,...","Austin, TX, USA"
3,3,Urgent Opening | Product Manager Data Science...,SunRay Enterprise Inc,"Hi All,Hope you are doing well! Please see th...",Remote
4,4,Project Manager (With Data Science Experience ),WB Solutions LLC,Greetings from WB Solutions! We have the Urg...,"Santa Clara, CA, USA"

In [7]:
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1990 entries, 0 to 1989
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1990 non-null   int64
 1   title        1990 non-null   object
 2   company      1990 non-null   object
 3   description  1990 non-null   object
 4   location     1990 non-null   object
dtypes: int64(1), object(4)
memory usage: 77.9+ KB

None of the columns from all three files contains null value.

## Data cleaning

###  Checking and dropping any duplicate rows

In [ ]:
df_da = df_da.drop_duplicates()
df_da.info()

In [ ]:
df_de = df_de.drop_duplicates()
df_de.info()

In [9]:
df_ds= df_ds.drop(columns=['Unnamed: 0'])
df_ds = df_ds.drop_duplicates()
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1561 entries, 0 to 1987
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1561 non-null   object
 1   company      1561 non-null   object
 2   description  1561 non-null   object
 3   location     1561 non-null   object
dtypes: object(4)
memory usage: 61.0+ KB

#### Merging all the data into one dataframe

In [ ]:
df_dice = pd.concat([df_da,df_de,df_ds])
df_dice.info()

In [ ]:
df_dice.head()

In [ ]:
df_dice.tail()

In [ ]:
df_dice= df_dice.drop(columns=['Unnamed: 0'])
df_dice = df_dice.drop_duplicates()
df_dice.info()

## It seems there is lot of duplicate data got captured while scraping the data. Before dropping duplicate rows their were more than 3000 rows of data, but after that only 31 rows left. So Data scraping step needs to be performed again.

In [ ]:
df_dice