In [1]:
import pandas as pd
import os

## Importing data

In [2]:
os.chdir(r'C:\Users\chitr\gc-march-2022\data')

df_da = pd.read_csv('dice_DataAnalyst_2022.csv')

In [3]:
df_da.head(5)

,Unnamed: 0,title,company,description,location
0,0,Data Analyst,Vaco Technology,Job Title: Data Analyst Location: New York/ R...,"Vaco Technology New York, NY, USA"
1,1,Data Analyst,"cyberThink, Inc.",Role: Data Analyst with Data Science/Analytic...,"cyberThink, Inc. McLean, VA, USA"
2,2,Data Analyst,Randstad Technologies,job summary: The primary purpose of this job ...,"Randstad Technologies Tampa, FL, USA"
3,3,Data Analyst,Beacon Hill Technologies,"Performs data collection, analysis, validation...","Beacon Hill Technologies Charlotte, NC, USA"
4,4,Data Analyst,Randstad Technologies,job summary: The primary purpose of this job ...,"Randstad Technologies Tampa, FL, USA"

In [4]:
df_da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   980 non-null    int64
 1   title        980 non-null    object
 2   company      980 non-null    object
 3   description  980 non-null    object
 4   location     980 non-null    object
dtypes: int64(1), object(4)
memory usage: 38.4+ KB

In [5]:
df_de = pd.read_csv('dice_DataEngineer_2022.csv')

In [6]:
df_de.head(5)

,Unnamed: 0,title,company,description,location
0,0,Data Engineer 3 (Technical),"Northwest Permanente, PC",The Data Engineer 3 position provides the oppo...,"Northwest Permanente, PC Portland, OR, USA"
1,1,Data & Automation Engineer,"ClearBridge Investments, LLC",ClearBridge Investments is a leading global eq...,"ClearBridge Investments, LLC New York, NY, USA"
2,2,Data Engineer,Randstad Technologies,job summary: Looking for a dynamic Data Engin...,"Randstad Technologies Woodcliff Lake, NJ, USA"
3,3,Data Engineer,Hashi Solutions,We are excited to be bringing on a candidate t...,Hashi Solutions Remote
4,4,Data Engineer,Randstad Technologies,job summary: As a member of the Futures Techn...,"Randstad Technologies Chicago, IL, USA"

In [7]:
df_de.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188 entries, 0 to 1187
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1188 non-null   int64
 1   title        1188 non-null   object
 2   company      1188 non-null   object
 3   description  1188 non-null   object
 4   location     1188 non-null   object
dtypes: int64(1), object(4)
memory usage: 46.5+ KB

In [8]:
df_ds = pd.read_csv('dice_Datascientist_2022.csv')

In [9]:
df_ds.head()

,Unnamed: 0,title,company,description,location
0,0,Data Scientist,ApTask,Role:- Data Scientist (10+ years exp.) Locatio...,"ApTask Tampa, FL, USA"
1,1,Data Scientist,DataFactZ,"Data Scientist Location : charlotte, NC (2 WEE...","DataFactZ Charlotte, NC, USA"
2,2,Data Scientist,InfoTech Spectrum Inc,InfoTech Spectrum - A trusted partner (.infote...,"InfoTech Spectrum Inc Houston, TX, USA"
3,3,Data Scientist,Longfinch Technologies,1 – Requirement-1: More than 5+ years of exper...,Longfinch Technologies Remote
4,4,Data Scientist- HYBRID,Randstad Technologies,job summary: Join one of the nation's largest...,"Randstad Technologies Atlanta, GA, USA"

In [10]:
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   920 non-null    int64
 1   title        920 non-null    object
 2   company      920 non-null    object
 3   description  920 non-null    object
 4   location     920 non-null    object
dtypes: int64(1), object(4)
memory usage: 36.1+ KB

None of the columns from all three files contains null value.

## Data cleaning

###  Checking and dropping any duplicate rows

In [11]:
df_da = df_da.drop_duplicates()
df_da.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 980 entries, 0 to 979
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   980 non-null    int64
 1   title        980 non-null    object
 2   company      980 non-null    object
 3   description  980 non-null    object
 4   location     980 non-null    object
dtypes: int64(1), object(4)
memory usage: 45.9+ KB

In [12]:
df_de = df_de.drop_duplicates()
df_de.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1188 entries, 0 to 1187
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1188 non-null   int64
 1   title        1188 non-null   object
 2   company      1188 non-null   object
 3   description  1188 non-null   object
 4   location     1188 non-null   object
dtypes: int64(1), object(4)
memory usage: 55.7+ KB

In [13]:
df_ds = df_ds.drop_duplicates()
df_ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920 entries, 0 to 919
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   920 non-null    int64
 1   title        920 non-null    object
 2   company      920 non-null    object
 3   description  920 non-null    object
 4   location     920 non-null    object
dtypes: int64(1), object(4)
memory usage: 43.1+ KB

#### Merging all the data into one dataframe

In [14]:
df_dice = pd.concat([df_da,df_de,df_ds])
df_dice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3088 entries, 0 to 919
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3088 non-null   int64
 1   title        3088 non-null   object
 2   company      3088 non-null   object
 3   description  3088 non-null   object
 4   location     3088 non-null   object
dtypes: int64(1), object(4)
memory usage: 144.8+ KB

In [15]:
df_dice.head()

,Unnamed: 0,title,company,description,location
0,0,Data Analyst,Vaco Technology,Job Title: Data Analyst Location: New York/ R...,"Vaco Technology New York, NY, USA"
1,1,Data Analyst,"cyberThink, Inc.",Role: Data Analyst with Data Science/Analytic...,"cyberThink, Inc. McLean, VA, USA"
2,2,Data Analyst,Randstad Technologies,job summary: The primary purpose of this job ...,"Randstad Technologies Tampa, FL, USA"
3,3,Data Analyst,Beacon Hill Technologies,"Performs data collection, analysis, validation...","Beacon Hill Technologies Charlotte, NC, USA"
4,4,Data Analyst,Randstad Technologies,job summary: The primary purpose of this job ...,"Randstad Technologies Tampa, FL, USA"

In [16]:
df_dice.tail()

,Unnamed: 0,title,company,description,location
915,915,Principal Data Scientist,Elevance Health,The Principal Data Scientist leads the develop...,Elevance Health Remote
916,916,Data Scientist,JivaForce,"8+ years relevant exp in ML, DL or NLP. Master...","JivaForce Boston, MA, USA"
917,917,Data Scientist,Honu Services,Location: Nationwide with preference for DC me...,Honu Services Remote
918,918,Data Scientist,InfiCare Technologies,Hi - This is Mayank From InficareTech. I have ...,"InfiCare Technologies Richardson, TX, USA"
919,919,Data Scientist-AY,Corporate Biz Solutions Inc,"Data Scientist Charlotte, NC(Remote) Fulltime/...",Corporate Biz Solutions Inc Remote

In [17]:
df_dice= df_dice.drop(columns=['Unnamed: 0'])
df_dice = df_dice.drop_duplicates()
df_dice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        31 non-null     object
 1   company      31 non-null     object
 2   description  31 non-null     object
 3   location     31 non-null     object
dtypes: object(4)
memory usage: 1.2+ KB

## It seems there is lot of duplicate data got captured while scraping the data. Before dropping duplicate rows their were more than 3000 rows of data, but after that only 31 rows left. So Data scraping step needs to be performed again.

In [18]:
df_dice

,title,company,description,location
0,Data Analyst,Vaco Technology,Job Title: Data Analyst Location: New York/ R...,"Vaco Technology New York, NY, USA"
1,Data Analyst,"cyberThink, Inc.",Role: Data Analyst with Data Science/Analytic...,"cyberThink, Inc. McLean, VA, USA"
2,Data Analyst,Randstad Technologies,job summary: The primary purpose of this job ...,"Randstad Technologies Tampa, FL, USA"
3,Data Analyst,Beacon Hill Technologies,"Performs data collection, analysis, validation...","Beacon Hill Technologies Charlotte, NC, USA"
5,Data Analyst,Sira Consulting,"Job Title: Data Analyst Location: Natick, MA ...",Sira Consulting Remote
6,Data Analyst,Atyeti,Atyeti Inc is a Global Information Technology ...,"Atyeti Dallas, TX, USA"
7,Data Analyst,Randstad Technologies,job summary: Job Description: Aggregation of ...,"Randstad Technologies Charlotte, NC, USA"
8,Sr Data Analyst,Beacon Hill Technologies,"Job Description: Performs data collection, ana...","Beacon Hill Technologies St. Louis, MO, USA"
9,Business Data Analyst,Trinity Globaltech,"Hi, Hope you are doing well & safe ! Greetings...","Trinity Globaltech San Francisco, CA, USA"
0,Data Engineer 3 (Technical),"Northwest Permanente, PC",The Data Engineer 3 position provides the oppo...,"Northwest Permanente, PC Portland, OR, USA"
1,Data & Automation Engineer,"ClearBridge Investments, LLC",ClearBridge Investments is a leading global eq...,"ClearBridge Investments, LLC New York, NY, USA"
2,Data Engineer,Randstad Technologies,job summary: Looking for a dynamic Data Engin...,"Randstad Technologies Woodcliff Lake, NJ, USA"
3,Data Engineer,Hashi Solutions,We are excited to be bringing on a candidate t...,Hashi Solutions Remote
4,Data Engineer,Randstad Technologies,job summary: As a member of the Futures Techn...,"Randstad Technologies Chicago, IL, USA"
5,Data Engineer,"Sysmind, LLC",Please share me resume @ Job Description 10-12...,"Sysmind, LLC New York, NY, USA"
6,Data Engineer,Nigel Frank International,Must be Salary up to $150k Remote Summary As ...,Nigel Frank International Remote
7,Data Engineer,"Softworld, Inc.",Data Engineer 6+ Month Contract to Hire 100%...,"Softworld, Inc. Boston, MA, USA"
8,Data Engineer,SBasetech,"Position – Data EngineerLocation – Dallas, TX...","SBasetech Dallas, TX, USA"
9,Data Engineer,Randstad Technologies,"job summary: Our well known, growing client i...","Randstad Technologies Orange, CT, USA"
10,Data Engineer II,"Lorven Technologies, Inc.",Our client is looking Data Engineer II for Lo...,"Lorven Technologies, Inc. Cincinnati, OH, USA"
11,Data Engineer,"CloudRay, Inc",Sr Data Engineer 100% remote position . . Ple...,"CloudRay, Inc Remote"
0,Data Scientist,ApTask,Role:- Data Scientist (10+ years exp.) Locatio...,"ApTask Tampa, FL, USA"
1,Data Scientist,DataFactZ,"Data Scientist Location : charlotte, NC (2 WEE...","DataFactZ Charlotte, NC, USA"
2,Data Scientist,InfoTech Spectrum Inc,InfoTech Spectrum - A trusted partner (.infote...,"InfoTech Spectrum Inc Houston, TX, USA"
3,Data Scientist,Longfinch Technologies,1 – Requirement-1: More than 5+ years of exper...,Longfinch Technologies Remote
4,Data Scientist- HYBRID,Randstad Technologies,job summary: Join one of the nation's largest...,"Randstad Technologies Atlanta, GA, USA"
5,Principal Data Scientist,Elevance Health,The Principal Data Scientist leads the develop...,Elevance Health Remote
6,Data Scientist,JivaForce,"8+ years relevant exp in ML, DL or NLP. Master...","JivaForce Boston, MA, USA"
7,Data Scientist,Honu Services,Location: Nationwide with preference for DC me...,Honu Services Remote
8,Data Scientist-AY,Corporate Biz Solutions Inc,"Data Scientist Charlotte, NC(Remote) Fulltime/...",Corporate Biz Solutions Inc Remote
9,Data Scientist,InfiCare Technologies,Hi - This is Mayank From InficareTech. I have ...,"InfiCare Technologies Richardson, TX, USA"